<div data-role="view" id="workflow-action-view" data-model="app.WorkflowAction" 
     data-show="app.WorkflowAction.show"
     data-hide="app.WorkflowAction.hide">
    <header data-role="header">
        <div data-role="navbar">
            <span id="workflow-action-title">K</span>
        </div>
    </header>
    <div>
        <div align="center">
            <h2>
                Purchase Requisition
            </h2>
        </div>
        <ul data-role="listview" data-style="inset">
            <li>
                <textarea style="height: 120px" rows="10" id="action-comment" placeholder="(Optional Comment)"></textarea>
            </li>
        </ul>
        <a data-role="button" data-bind="events: { click: submit }">Submit</a>
        <a data-role="button" data-bind="events: { click: cancel }">Cancel</a>
    </div>
</div>
