<div data-role="view" id="workflow-item-view" data-model="app.WorkflowItem" data-init="app.WorkflowItem.init" data-show="app.WorkflowItem.show">
    <header data-role="header">
        <div data-role="navbar">
            WorkItem
            <a data-role="backbutton" data-align="left" data-icon="arrow-back"></a>
            <a data-role="button" data-align="right" data-icon="details" data-bind="events: { click: approve }"></a>
            <a data-role="button" data-align="right" data-icon="reply" data-bind="events: { click: reject }"></a>
        </div>
    </header>

<!--    <ul data-role="listview" id="item-details-listview" data-style="inset" data-bind="source: workflowDetails" data-template="workflowitemTemplate">

    </ul>-->
    <ul id="item-details-listview"></ul>

</div> 

<script type="text/x-kendo-template" id="workflowitemTemplate">
    <div data-role="touch"> 
        <h2>${CreatedByID}</h2>
        <div>
            <span>PR: </span>
            <span style="clear: both; margin-left: 3em">${PrNumber}</span>
        </div>
        <div>
            <span>Material: </span>
            <span style="clear: both; margin-left: 3em">${Description}</span>
        </div>
    </div>
</script>