<div data-role="view" id="workflow-item-view" data-model="app.WorkflowItem" data-init="app.WorkflowItem.init" data-before-show="app.WorkflowItem.beforeShow">
    <header data-role="header">
        <div data-role="navbar">
            WorkItem
            <a data-role="backbutton" data-align="left" data-icon="arrow-back"></a>
            <a data-role="button" data-align="right" data-icon="details" data-bind="events: { click: approve }"></a>
            <a data-role="button" data-align="right" data-icon="reply" data-bind="events: { click: reject }"></a>
        </div>
    </header>

<!--    <ul data-role="listview" id="item-details-listview" data-style="inset" data-bind="source: workflowDetails" data-template="workflowitemTemplate">

    </ul>-->

    <div id="workflow-item-div">
        <h2 data-bind="text: CreatedByID"></h2>
        <div>
            <span class="reqLabel">Purchase Requisition:</span><br/>
            <span class="reqDetail" data-bind="text: PrNumber"></span>
        </div>
        <div>
            <span class="reqLabel">Material:</span><br />
            <span class="reqDetail" data-bind="text: Description"></span>
        </div>
        <div>
            <span class="reqLabel">Quantity:</span><br />
            <span class="reqDetail" data-bind="text: Quantity"></span>
        </div>
        <div>
            <span class="reqLabel">Unit Price:</span><br />
            <span class="reqDetail" data-bind="text: FormattedPrice"></span>
        </div>
        <div>
            <span class="reqLabel">Material Group:</span><br />
            <span class="reqDetail" data-bind="text: MaterialGroup"></span>
        </div>
        <div>
            <span class="reqLabel">Plant:</span><br />
            <span class="reqDetail" data-bind="text: DeliveryAddress.PlantName"></span>
        </div>
    </div>

    <div id="notes-div">
        <h2>Notes</h2>
        <ul id="notes-list"></ul>
    </div>
</div>

<script type="text/x-kendo-template" id="notes-item-template">
    <span>Approver: </span>
    <span class="reqDetail">${CreatedByID}</span><br/>
    <span class="genericLabel">${Text}</span>
</script>

<!--
    <div>
        <span class="reqLabel"></span><br />
        <span class="reqDetail" data-bind="text: "></span>
    </div>

    <div data-role="touch" data-bind="events : { tap : nav }"> 
        <h3>${CreatedByName}</h3>
        <div>
            <span>${Value} ${Currency}</span>
            <span style="position: absolute; right: 12px">${ItemDescriptions}</span>
        </div>
    </div>
-->