<div data-role="view" id="workflow-item-view" data-model="app.WorkflowItem" 
     data-init="app.WorkflowItem.init" 
     data-before-show="app.WorkflowItem.beforeShow"
     data-hide="app.WorkflowItem.hide">
    <header data-role="header">
        <div data-role="navbar">
            WorkItem
            <a data-role="backbutton" data-align="left" data-icon="arrow-back"></a>
            <a data-role="button" data-align="right" data-icon="details" data-bind="events: { click: approve }"></a>
            <a data-role="button" data-align="right" data-icon="reply" data-bind="events: { click: reject }"></a>
        </div>
    </header>

    <div id="workflow-item-div">
        <h2 data-bind="text: CreatedByID"></h2>
        <div>
            <span class="reqLabel">Purchase Requisition:</span><br/>
            <span class="reqDetail" data-bind="text: workItemId"></span>
        </div>
        <div>
            <span class="reqLabel">Description:</span><br />
            <span class="reqDetail" data-bind="text: description"></span>
        </div>
        <div>
            <span class="reqLabel">Quantity:</span><br />
            <span class="reqDetail" data-bind="text: quantity"></span>
        </div>
        <div>
            <span class="reqLabel">Unit Price:</span><br />
            <span class="reqDetail" data-bind="text: unitPrice"></span>
        </div>
        <div>
            <span class="reqLabel">Plant:</span><br />
            <span class="reqDetail" data-bind="text: deliveryPlant"></span>
        </div>
    </div>

    <div id="notes-div">
        <h2>Notes</h2>
        <ul id="notes-list"></ul>
    </div>
</div>

<script type="text/x-kendo-template" id="notes-item-template">
    <span>Approver: </span>
    <span class="reqDetail">${createdBy}</span><br/>
    <span class="genericLabel">${text}</span>
</script>