<div data-role="view" id="workflow-items-view" data-model="app.WorkflowItems" 
     data-init="app.WorkflowItems.init" 
     data-show="app.WorkflowItems.show">
    <header data-role="header">
        <div data-role="navbar">
            <span>Active </span><span data-role="view-title"></span>
        </div>
    </header>

    <!--<ul id="workflow-items-list" data-role="listview" data-bind="source: workItems" data-template="workflowitemsTemplate">

    </ul>-->
    <ul id="workflow-items-list">
        
    </ul>
</div>

<script type="text/x-kendo-template" id="workflowitemsTemplate">
    <div data-role="touch" data-bind="events : { tap : nav }"> 
        <h3>${createdByName}</h3>
        <div>
            <span>${value} ${currency}</span>
            <span style="position: absolute; right: 12px">${description}</span>
        </div>    
    </div>
</script>